@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes slideInLeft {
  0% {
    transform: translate3d(-100%, 0, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.animate-slideInLeft {
  animation: slideInLeft 1.2s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

@keyframes slideInBottom {
  0% {
    transform: translate3d(0, 100%, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.animate-slideInBottom {
  animation: slideInBottom 1.2s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}
@keyframes slideInRight {
  0% {
    transform: translate3d(100%, 0, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
.animate-slideInRight {
  animation: slideInRight 1.2s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

@keyframes slideInTop {
  0% {
    transform: translate3d(0, -100%, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
.animate-slideInTop {
  animation: slideInTop 1.2s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}
